@import url('https://fonts.googleapis.com/css?family=Headland+One');

body {
    background: #101921;
    font-family: 'Headland One', serif;
}

.logo {
    position: absolute;
    width: 170px;
    height: 18px;
    left: 50px;
    top: 50px;
}